<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
   <servlet>
    <servlet-name>basicServices</servlet-name>
    <servlet-class>microlabs.dst.server.BasicServicesImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>basicServices</servlet-name>
    <url-pattern>/datastructuretool/basicServicesServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>problemService</servlet-name>
    <servlet-class>microlabs.dst.server.ProblemServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>problemService</servlet-name>
    <url-pattern>/datastructuretool/problemServiceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>problemResultFetchService</servlet-name>
    <servlet-class>microlabs.dst.server.ProblemResultFetchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>problemResultFetchService</servlet-name>
    <url-pattern>/datastructuretool/problemResultFetchServiceServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>probResultStoreSrvc</servlet-name>
    <servlet-class>microlabs.dst.server.ProblemResultStoreServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>probResultStoreSrvc</servlet-name>
    <url-pattern>/datastructuretool/problemResultStoreServiceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>problemsFetchServiceServlet</servlet-name>
    <servlet-class>microlabs.dst.server.ProblemsFetchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>problemsFetchServiceServlet</servlet-name>
    <url-pattern>/datastructuretool/problemsFetchServiceServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>DataStructureTool.html</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
  

</web-app>
