 /** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

textarea {
	font-family: monospace;
	padding: 0px;
	resize: none;
	overflow: auto;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

body {
	background: #EAEAFF;
	}

.dialogVPanel {	
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#login {
	float: right;
	margin-top: 5px;
	border: 1px solid #E8E8E8;
	background: #F8F8F8;	
}

#notification-area {
	text-align:center;	
}

.we-anchor {
	cursor: pointer;	
}

.passwords-match {
	color: green;
}

.passwords-not-match {
	color: red;
}
.problem_statement {
	position: absolute;
	top: 0px;
	font-size: 12pt;
	font-weight: bold;
}

.main_background {
	background: #FFFFFF;
}

.prob_background {
	background: #FFFFFF;
}

.banner {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.problem {
	font-size: 10pt;
	font-weight: bold;
}

.welcome {
	font-size: 12pt;
	font-weight: bold;
}

.boundary_panel {
	position: absolute;
	opacity: 0.5;
	border-left: solid 1px #150517;
	border-right: solid 1px #150517;
	border-bottom: solid 1px #150517;
}

.canvas {
	position: absolute;
	background: #D3D3D3;
	border-top: solid 1px #150517;
}

.left_panel {
	background: #A8A8A8;
	position: absolute;
}

.middle_panel {
	background: #A8A8A8;
	opacity: 0.5;
	position: absolute;
}

.right_panel {
	background: #A8A8A8;
	position: absolute;
}
.bucket_panel{
	padding-top: 5px;
	background-color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-size:12pt;
}
.bucket_holding_panel{
	background-color:#FFFFFF;
	background: #FFFFFF;
	position: absolute;
	text-align:center;
}

.edge_addition_panel
{
	background: #F8F8F8;
	position: absolute;
}

.control_button {
	font-weight: bold;
}

.edge_instructions {
	font-size: 12pt;
	font-weight: bold;
}

.edge_remove {
	font-size: 12pt;
	font-weight: bold;
}

.edge_addition_error {
	font-size: 12pt;
	font-weight: bold;
}

.node {
	position: absolute;
	font-size: 20pt;
	width: 40px;
	height: 40px;
	background: #FFA500;
	text-align: center;
	cursor: pointer;
}

.selected_node {
	position: absolute;
	font-size: 20pt;
	width: 40px;
	height: 40px;
	background: #FFA500;
	text-align: center;
	border-color: #FFFF00;
	border-style: solid;
	cursor: pointer;
}

.absolute_scroll{
	height: 100%;
	width: 100%;
	position: absolute;	
}
.administration {
	height: 100%;
	width: 100%;
	background-color: #C2C2FF;
}

/** MAGNETS CSS **/

#closeButton {
  margin: 15px 6px 6px;
}

/** panel css */
.base_panel{
        height:100%;
        width:100%;
}
.creation_station {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: #E6E6E6;
        border: 1px solid AliceBlue;
}
.interior_panel{
        border: 1px solid #BCBCBC;
}
.trash_bin{
        background-color: #FF4A4A;
        text-align: center;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 30px;
}
.trash_bin-engage{
        background-color: #CB3E3E;
        text-align: center;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 30px;
}
.stackable_container{
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 7px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        display: absolute;
        font-size: 13px;
        border: 1px solid AliceBlue;
        background-color: #ACDEE6;
        font-family: "courier new";   
        color: black;  
}
.stackable_container_over{
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 7px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background: #329DAE;
        font-size: 13px;
        border: 1px solid AliceBlue;
        font-family: "courier new";
        color: black;    
}
.main_code_container{
        padding: 5px;
        padding-right: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background: #E6E6E6;
        min-height: 20px;
        font-size: 14px;
        color: black;
        border: 1px solid AliceBlue;
        font-family: "courier new";     
}
.main_code_over{
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background: #cccccc;
        display: absolute;
        min-height: 20px;
        font-size: 14px;
        color: black;
        border: 1px solid AliceBlue;
        font-family: "courier new";     
}
#inside_of_block{
        position:relative;
        left:20px;
}
.dropdown_panel{
        padding-top: 5px;
        width:100%;
        padding-right:20px;
}
/** misc css */
.trash_label{
        margin: 5px;
}
.create_button{
        margin-right:20px;
}

BODY,HTML{height:100%;}

.string_node{
	position: absolute;
	font-size: 16pt;
	width:40px;
	height:30px;
	background: #FFA500;
	background-color: #FFA500;
	text-align: center;
	cursor: pointer;
}
.selected_string_node {
	position: absolute;
	font-size: 17pt;
	width: 40px;
	height: 30px;
	background: #FFA500;
	text-align: center;
	border-color: #FFFF00;
	border-style: solid;
	cursor: pointer;
}
.gwt-TabPanelBottom {
  height:98%;
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}
